body {
  padding: 60px;
}
/* Global Reset */
.clear {
  clear: both;
}
.disabled {
  display: none;
}
.cell {
  overflow: hidden;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
}
